root {
    text-align: center;
}

.payment-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.user-information-form-container {
    width: 500px;
    background: aliceblue;
    padding: 50px;
    border-radius: 24px;
}


.payment-content-img img {
    width: 500px;
}